body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* білий */
}

header {
    background-color: #4CAF50; /* зелений */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.section {
    background-color: #ffffff; /* білий */
    flex: 1;
    padding: 20px;
    border: 2px solid #0000FF; /* синій */
    border-radius: 10px;
}

.section:nth-child(even) {
    background-color: #FFFF00; /* жовтий */
}

.content {
    display: flex;
    flex-direction: column;
}

.content > * {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .section {
        width: 100%;
    }
}

button {
    background-color: #FFA500; /* оранжевий */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #FF8C00; /* темно-оранжевий */
}

footer {
    background-color: #333333; /* сірий */
    color: white;
    text-align: center;
    padding: 20px;
}
